.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    } 
  
.notify {
      color: green;
      background: lightgrey;
      font-size: 20px;
      border-style: solid;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    } 

  .nav {
    background: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
  }

  .padded {
    padding: 5px
  }

  td {
    padding: 5px
  }

  .link{
    color: rgb(255, 255, 255);
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      background-color: rgb(206, 132, 83);
      border-color: rgb(235, 145, 71);
  }

  .btn-primary:hover {
    background-color: rgb(150, 86, 44);
    border-color: rgb(238, 159, 85);
}