.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    } 
  
.notify {
      color: green;
      background: lightgrey;
      font-size: 20px;
      border-style: solid;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
    } 

  .nav {
    background: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
  }

  .padded {
    padding: 5px
  }

  td {
    padding: 5px
  }